<video layout="row" layout-xs poster="http://pixel.nymag.com/imgs/daily/vulture/2015/01/30/game-of-thrones-s5/got-daenerys.w750.h560.2x.jpg" controls>
  <!--<source src="/path/to/video.mp4" type="video/mp4">-->
  <source src="http://bloodmaker.anax.feralhosting.com/links/deluge_data/%5bDragonMax%5d%20Dragon%20Ball%20Z%20Kai%20-%201080p%20P1/%5bDragonMax%5d%20Dragon%20Ball%20Z%20Kai%20-%201080p%20-%2001.mkv" type="video/webm">
  <!-- Captions are optional -->
  <!--<track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default>>>-->
</video>
