<video id="my-video" class="video-js" preload="auto" width="800" height="600"
  data-setup="{}">
    <source src="http://bloodmaker.anax.feralhosting.com/links/data/heist_zimmer.mp4" type='video/mp4'>
    <!--<source src="MY_VIDEO.webm" type='video/webm'>-->
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
<br/>
	<md-button ng-click="togglePlayPause()">PLAY/PAUSE</md-button>

	{{play}}
	{{currentTime}}/{{duration}}
